<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/layouts/header}">
    <title>Home</title>
</head>

<body>
    <header class="p-3 mb-3 border-bottom">
        <div class="container ">

            <a href="/" class="navbar-brand">
                <h1 class="text-primary text-center display-6">CleanFruit.</h1>
            </a>
        </div>
    </header>
    <main class="container">
        <section class="p-3 p-md-4 p-xl-5">
            <div class="container">
                <div class="card border-light-subtle shadow-sm">
                    <div class="row g-0">
                        <div class="col-12 col-md-6 text-bg-primary">
                            <div class="d-flex align-items-center justify-content-center h-100">
                                <div class="col-10 col-xl-8 py-3">
                                    <div class="container-fluid page-header py-2">
                                        <h1 class="text-center text-white display-6">Shop</h1>
                                        <ol class="breadcrumb justify-content-center">
                                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#">Login</a></li>
                                        </ol>
                                    </div>
                                    <hr class="border-primary-subtle mb-4">
                                    <h4 class="mb-3 text-secondary">100% Organic Foods</h4>
                                    <h1 class="mb-5 display-3 text-primary">Organic Veggies &amp; Fruits Foods</h1>
                                </div>
                            </div>
                        </div>
                        <div _ngcontent-mls-c253="" class="col-lg-5">
                            <div _ngcontent-mls-c253="" class="card shadow-lg border-0 rounded-lg mt-5">
                                <div _ngcontent-mls-c253="" class="card-header justify-content-center">
                                    <h3 _ngcontent-mls-c253="" class="fw-light my-4">Login</h3>
                                </div>
                                <div _ngcontent-mls-c253="" class="card-body">
                                    <form th:action="@{/login}" method="post">
                                        <div class="mb-3">
                                            <label for="username">Tên đăng nhập</label>
                                            <input type="text" id="username" name="username" class="form-control"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="password">Mật khẩu</label>
                                            <input type="password" id="password" name="password" class="form-control"
                                                required>
                                        </div>
                                        <div class="mb-3">
                                            <input type="checkbox" id="rememberMe" name="remember-me">
                                            <label for="rememberMe">Ghi nhớ đăng nhập</label>
                                        </div>
                                        <p th:if="${error}" th:text="${error}" style="color:red;"></p>
                                        <p th:if="${message}" th:text="${message}" style="color:green;"></p>
                                        <button type="submit" class="btn btn-primary" id="login-button">Đăng nhập</button>
                                    </form>
                                    <div th:if="${param.error}" class="alert alert-danger">Sai tên đăng nhập hoặc mật
                                        khẩu!</div>
                                    <div th:if="${param.logout}" class="alert alert-success">Bạn đã đăng xuất thành
                                        công!</div>
                                </div>
                                <div _ngcontent-mls-c253="" class="card-footer text-center">
                                    <div _ngcontent-mls-c253="" class="small"><a _ngcontent-mls-c253=""
                                            routerlink="/auth/register" href="/dangky">Need an account? Sign
                                            up!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div th:replace="~{/layouts/footer}">
    </div>
</body>

</html>